<!DOCTYPE html>

<html>
    <head>
        <title>Simple Nodejs todolist</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>
        <h1 align="center" style="color: pink; ">Simple Nodejs todolist</h1>

        <ul style="padding: 20px; background-color: orange">
        <% todolist.forEach(function(todo, index) { %>
            <li><a href="/todo/delete/<%= index %>"><button>X</button></a> <%= todo %></li>
        <% }); %>
        </ul>

        <form action="/todo/add/" method="post">
            <p>
                <label for="newtodo"><strong>What should I do?</strong></label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                <input type="submit" />
            </p>
        </form>
    </body>
</html>